/*
#000000 black
#FFFFFF white

#E87F4D Orange
#3A5E48 Dark Green
#2F4A57 Dark Blue
#4F788D Blue
#7BA6B4 Light Blue
#A5BFC5 Gray

Background: #455B71;
Secondary Background: #28343D;
Highlihts: ;
Primary Text: #DE9391
Secondary Text: ;
*/
.another-test {
  color: red;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-right: 90%;
}

.align-center{
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  /*added */
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.backDropVisible {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;
  transition: opacity 0.4s;
}

.backDropInvisible {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.container-cta {
  position: relative;
  top: 50%;
  text-align: center;
}

#cta-text {
  font-size: 3em !important;
}

.display-true {
  display: block;
}

.display-false {
  display: none;
}

.downArrowVisible {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 25px;
  color: #FFF;
  height: 10px;
  font-size: 25px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: opacity 2s;
}

.downArrowInvisible {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 25px;
  color: #FFF;
  height: 10px;
  font-size: 25px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: opacity 2s;
}

#email-button {
  background-color: #28343D;
  font-size: 20px;
}

#email-text {
  text-decoration: none;
  color: #FFF;
  background-color: transparent !important;
}

.fixed-top {
  animation: popDown 0.5s;
}

.font-custom {
  font-family: "Ubuntu", sans-serif;
}

.fsize1{
  font-size: 1em !important;
}

.hamburger {
  width: 2%;
}

.iconBar {
  width: 35px;
  height: 1px;
  background-color: #FFF;
  margin: 4px 0;
  transition: 0.2s;
}

.link-style {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.link-style:hover {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.listStyle {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.navbar-generic-test {
  background-color: #3A5E48;
}

.navbar-generic {
  background-color: #3A5E48;
}

.navbar-open {
  height: 5%;
  width: 100%;
  text-align: center;
  float: left;
  overflow: hidden;
}

.navbar-mobile {
  display: none;
}

.navbar-sticky {
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 5%;
  animation: popDown 0.5s;
  z-index: 199;
  /*padding: 8px;*/
}

.navbar-item {
  float: left;
  height: 100%;
}

.navbar-link-style {
  /*display: block;*/
  color: #FFF;
  text-align: center;
  /* removed padding because it was introducing a white space
  padding: 10px;*/
  text-decoration: none;
  text-align: center;
}

.navbar-link-style:hover {
  /*display: block;*/
  color: #FFF;
  text-align: center;
  /* removed padding because it was introducing a white space
  padding: 10px;*/
  text-decoration: none;
  text-align: center;
  background-color: #2F4A57;
}

.navbar-list {
  margin-top: 0px;
  list-style-type: none;
  background-color: #3A5E48;
  text-align: center;
}

.open {
  background-color: #FFF;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  transform: translateX(0);
}

.prod {
  display: none;
}

.section1Styles {
  /* The image used */
  background-image: url("../images/sunset.jpg");
  background-color: white;
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 {
  /*background-color: #4F788D;*/
  background-image: url("../images/header.jpg");
}

.section2 {
  background-color: #A5BFC5;
}

.section3 {
  background-color: #282c39;
  background-image: url("../images/header.jpg");
}

.section-Styles-test {
  /* The image used */
  /*background-image: url('../images/edamameOptim.jpg');*/
  /*background-color: #4F788D;*/
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-Styles {
  /* The image used */
  /*background-image: url('../images/edamameOptim.jpg');*/
  /* background-color: #3A5E48 ; */
  /* Full height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-text {
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border-radius: 10px;
  font-size: 1em;
  font-family: "Shadows Into Light", cursive;
  color: #FFF;
}

.section-text-unique {
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border-radius: 10px;
  font-size: 2em;
  color: #E87F4D;
}

.section-text2 {
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border-radius: 10px;
  font-size: 1.5em;
  color: #E87F4D;
}

.section-text-container-test {
  position: relative;
  top: 50%;
  text-align: center;
  color: #DE9391;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}

.section-text-container {
  position: relative;
  top: 50%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}

#skills-button {
  background-color: rgba(255, 127, 80, 0.8);
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
}

.sideMenuClose {
  background-color: #FFF;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: 200;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transition: left 1.5s;
}

.sideMenuOpen {
  background-color: #3A5E48;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transition: left 1.5s;
}

.test-env {
  display: block;
}

.toggle-menu {
  z-index: 200;
  text-align: center;
  padding: 8px 5px 5px 15px;
  /* removed background color because it was making the hamburger become
      a block
  background-color: #DE9391;*/
}

.xbar {
  width: 35px;
  height: 5px;
  background-color: #E87F4D;
  margin: 6px 0;
  transition: opacity 0.4s;
  transform: rotate(-45deg) translate(-6px, 8px);
}

.xbar2 {
  width: 35px;
  height: 5px;
  background-color: #E87F4D;
  margin: 6px 0;
  transition: 0.4s;
  transform: rotate(45deg) translate(0px, 0px);
}

@media (max-width: 450px) {
  .container-cta {
    position: relative;
    top: 40%;
    text-align: center;
  }

  .section1 {
    /*background-color: #4F788D;*/
    background-image: url("../images/header.jpg");
  }

  .section3 {
    background-color: #282c39;
    background-image: url("../images/header.jpg");
  }
}
@media (max-width: 600px) {
  .sideMenuOpen {
    background-color: #3A5E48;
    width: 55%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 1.5s;
    -o-transition: left 1.5s;
    transition: left 1.5s;
  }

  .sideMenuClose {
    background-color: #FFF;
    width: 55%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -55%;
    z-index: 200;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    transition: left 1.5s;
  }

  .navbar-item {
    display: none;
  }

  .navbar-mobile {
    display: block;
    padding-top: 10px;
    background-color: #3A5E48;
  }

  .navbar-generic {
    background-color: #3A5E48;
  }

  .section-text-container {
    position: relative;
    top: 25%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
  }

  .section-text-unique {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    border-radius: 10px;
    font-size: 1em;
    color: #E87F4D;
  }

  .toggle-menu {
    z-index: 200;
    text-align: center;
    padding: 1px 5px 5px 15px;
  }
}
/*a{
  display: block;
  padding:8px;
}

a:hover{
  display: block;
  padding:8px;
}
*/
h1 {
  color: #FFF;
}

/*
the below is the styles for the manual navbar--------

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes popDown {
  0% {
    transform: translateY(-500px);
  }
}
@keyframes hamburger-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  from {
    tranform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

/*# sourceMappingURL=app2.css.map */
