
/*
#000000 black
#FFFFFF white

#E87F4D Orange
#3A5E48 Dark Green
#2F4A57 Dark Blue
#4F788D Blue
#7BA6B4 Light Blue
#A5BFC5 Gray

Background: #455B71;
Secondary Background: #28343D;
Highlights: ;
Primary Text: #DE9391
Secondary Text: ;
*/

$primary-color: #3A5E48;
$primary-text-color: #000;
$primary-font: 'Ubuntu', sans-serif;


.animate{
   -webkit-animation: color-in-out .5s ; /* Safari 4.0 - 8.0 */
    animation: color-in-out 1s ;
}

.animate2{
  -webkit-animation: color-in-outt .5s ; /* Safari 4.0 - 8.0 */
  animation: color-in-outt 1s ;
}

.animate-delay1{
    animation-delay: .3s;
}

.animate-delay2{
  animation-delay: .6s;
}

.animate-delay3{
  animation-delay: 1s;
}

.animate-delay4{
  animation-delay: 1.3s;
}

.animate-delay5{
  animation-delay: 1.6s;
}


.cell-text-container{
  text-align: center;
}

.cell-text{
  font-family: $primary-font;
  font-size: 1em;
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
  text-align: center;
}

#content {
	width: 100%
}
.content-main{
	width: 100%;
}

.font-custom{
  font-family: 'Ubuntu', sans-serif;
}

.header-info{

}

.header1{
  width: 100%;
  height: 200px;
  background-image: url('../images/header.png');
}

.header-image{
  max-width: 100%;
  height: auto;
}

.letter{
  border: 3px solid #000;
}

.lightblue-bg{
  /*background-color: lightblue;*/
  -webkit-animation: color-in-out-stay 1s; /* Safari 4.0 - 8.0 */
  animation: color-in-out-stay 1s;
  animation-fill-mode: forwards;
}

.lightblue-bg-stay{
  /*background-color: lightblue;*/
  -webkit-animation: color-in-out-stay 1s; /* Safari 4.0 - 8.0 */
  animation: color-in-out-stay .5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.lightblue-bg-stay-2{
  /*background-color: lightblue;*/
  -webkit-animation: color-in-out-stayy 1s; /* Safari 4.0 - 8.0 */
  animation: color-in-out-stayy .5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.lightblue-bg-transition{
  background-color: lightblue;
  transition: background-color 2s;
  transition-delay: 5s;
}



.login-button, .logout-button, .delete-button, .create-button, .edit-button {
    font-weight: bold;
    background-color: white;
    color: #809C95;
    border-radius: 20%;

}

.long-content{
  white-space: pre-wrap;
}

.spacer-navbar{
  margin-top: 10%;
}

.nav-bar {

	background-color: rgb(58, 94, 72, 1);
	height: 5%;
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 12%;

}

.primary-bg-color{
  background-color: $primary-color !important;
}





.nav-bar-text{
  color: #FFF;

}

.pane {
	background-color:  #FFF ;

	padding: 0px 100px 0px 100px;

	padding: 10px 0px 0px 0px;
}

.post{
  margin: 0em 14em;

}

.primary-text-color{
	color: #000;
}

.secondary-text-color{
	color: #000;
}

.table-config-1{
  table-layout: fixed;
  width: 200px;
}

.two-X{
  font-size: 2em;
}
.middle{
  margin-top: auto;
  margin-bottom: auto;
}

.view-single{
  display: none;
  border: 1px solid;
  height: 80%;
}


.title-text{
	font-size: 3em;
  /*animation: bounce 1s infinite;*/
  float: left;
}

.title-text-bounce{
  animation: bounce 1s infinite;
}

.title-text-container{
  width: 100%
}
.up-arrow{
  display: none;
  position: fixed;
  left: 50%;
  bottom: 60px;
  color: rgb(58, 94, 72, .8);
  height: 2px;
  font-size: 50px;
  background-color: rgb(255, 255, 255, .5);
  }


a {
  display: block;
  padding:8px;
  background-color: #3A5E48;
  color: #FFF;
}

a:hover {
  display: block;
  padding:8px;
  background-color: #3A5E48;
}

h3 {
	color: $primary-text-color;
}

h4{
	color: $primary-text-color;
}

li{
  text-decoration: none;
}

strong {
    color: red;
}

td {
  border-top: 3px solid !important;
}


@media (max-width: 700px){
    .post{
      margin: 1em;
    }

}

@keyframes color-in-out{
  0%{
    background-color: white;
    transform: translate(1px, 1px) rotate(0deg);
    }

  50%{
      /*background-color: lightblue;*/
      transform: translate(-1px, 2px) rotate(50deg);
  }

  100%{
      background-color: white;
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes color-in-outt{
  0%{
    background-color: white;
    transform: translate(1px, 1px) rotate(0deg);
    }

  50%{
      /*background-color: lightblue;*/
      transform: translate(-1px, 2px) rotate(50deg);
  }

  100%{
      background-color: white;
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes color-in-out-stay{
  0% {
        background-color: white;
     }

  100% {
        background-color: lightblue;
       }
  }
  @keyframes color-in-out-stayy{
  0% {
        background-color: white;
     }

  100% {
        background-color: lightblue;
       }
  }

  @keyframes bounce{
        0%   { transform: translateY(0); }
        30%  { transform: translateY(-50px); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(0); }
    }



  
