
/*
#000000 black
#FFFFFF white

#E87F4D Orange
#3A5E48 Dark Green
#2F4A57 Dark Blue
#4F788D Blue
#7BA6B4 Light Blue
#A5BFC5 Gray

Background: #455B71;
Secondary Background: #28343D;
Highlights: ;
Primary Text: #DE9391
Secondary Text: ;
*/
.up-arrow{
	bottom: 5px;
	position: absolute;
  	left: 50%;
  	bottom: 25px;
  	color: #FFF;
  	height: 10px;
  	font-size: 100px;
  	background-color: rgb(255, 255, 255, .5);
  }

.font-custom{
  font-family: 'Ubuntu', sans-serif;
}

.login-button, .logout-button, .delete-button, .create-button, .edit-button {
    font-weight: bold;
    background-color: white;
    color: #809C95;
    border-radius: 20%;

}

.nav-bar {
	background-color: rgb(58, 94, 72, .8);
	height: 5%;
}

.pane {
	background-color:  #FFF ;
	padding: 0px 100px 0px 100px;
}

.post{
  margin: 100px;
}

.primary-text-color{
	color: #000;
}

.secondary-text-color{
	color: #000;
}



.title-text{
	font-size: 3em;
}

a {
  display: block;
  padding:8px;
  background-color: #3A5E48;
  color: #FFF;
}

a:hover {
  display: block;
  padding:8px;
  background-color: #3A5E48;
}

h3 {
	color: #FFF;
}

h4{
	color: #FFF;
}

strong {
    color: red;
}

