<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock %} Catalog App</title>
    {% endblock %}
</head>
<body>
    <div class='container'>
        <div class='row no-gutters'>
            <div class='col-sm-4'>
                <h1 class='text-muted'>Blog</h1>
            </div>
            <div class='col-sm-3'>
            </div>
            <div class='col-sm-3'>
            </div>
            <div class='col-sm-2'>
                <h3><a href="http://localhost:3000">Home</a></h3>
            </div>
            <!-- <div class='col-sm-3'>
                <h3>{{ tme }}</h3>
            </div> -->
        </div>
        <hr>
        <div class='row'>
            <div id="content" align='center'>{% block content %}{% endblock %}</div>
        </div>
        <hr>
        <div id="footer" class="text-muted">
            {% block footer %}
            &copy; Jerome Ronquillo
            {% endblock %}
        </div>
    </div>
</body>
</html>