{% extends 'base.html' %}
{% block content %}
<div class="row spacer-navbar">
	<div class="col-centered">	

		<h1> Edit Category </h1>


		<form action="{{ url_for('editCategory',category_id = category.id)}}" method = 'post'>


		    <p>Title:</p>
		        <input type ='text' size='30' name='name' value = '{{category.name }}' required>

		    <p>Demo URL:</p>
		    	<input type='text' size='50' name='demo_url' value='{{category.demo_url}}' required>

		    <p> Content</p>
		    	<textarea type='text' rows="10" cols="50" name='content' required>{{category.content }}</textarea>

		<input type='submit' value='Edit' class='edit-button'>


		<a href = '{{url_for('showCategories')}}'> Cancel </a>

		</form>
	</div>
</div>

{% endblock %}
