{% extends 'base.html' %}
{% block content %}
<div class="row spacer-navbar">
	<div class="col-centered">	

		<h1> Edit PortFolio Item </h1>


		<form action="{{ url_for('editPortfolioItem',item_id = item.id)}}" method = 'post'>


		    <p>Title:</p>
		        <input type ='text' size='30' name='title' value= '{{item.title}}' required>

		    <p> Description</p>
		    	<textarea type='text' rows="10" cols="50" name='description' required>{{item.description }}</textarea>
		   

		    <p>URL:</p>
		        <input type ='text' size='30' name='url' value = '{{item.url}}' required>
		    
		    <p>Hashtags:</p>
		    	<input type ='text' size='30' name='hashtags' value = '{{item.hashtags}}' required>
		<input type='submit' value='Edit' class='edit-button'>


		<a href = '{{url_for('portfolio_redesign')}}'> Cancel </a>

		</form>
	</div>
</div>

{% endblock %}
