{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <h1>New Post</h1>
    </div>
    <div class='row'>
        <div class="col-centered">
            <form action="#" method = 'post'>
                    <div id='name_input'>
                        <h4>Title:</h4>
                        <input type ='text' size='20' name='name' maxlength="299" required>
                    </div>
                    <div id='content_entry'>
                        <h4> Content: </h4>
                        <textarea name='content' maxlength="3000" placeholder="Start Typing..." required>
                        </textarea>
                    </div>
                    <input type='submit' value='Create' class='create-button'>
                    <a href = "{{url_for('showCategories')}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div class='col-sm-1'>

    </div>
{% endblock %}