
{% extends 'base.html' %}
{% block content %}
<body>
<div class = 'pane'>
    {{error}}
    <div class='creator'></div>
    <div class = 'flash'>
                  {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

    </div>

    <img class="header-image" src="{{ url_for('static', filename='images/header.png') }}" />
    <hr>
    {% if categories != [] %}
        {% for category in categories %}


        <div class="post">
            <!--<h2>{{category.id}}</h2> -->
            
            <!--<a href="{{url_for('showItems', category_id=category.id)}}"> -->
            <h3><class="secondary-text-color">{{category.name}}</h3></a>
            <hr>
            <h5 class="primary-text-color secondary-text-weight">Written by: {{category.author}}</h5>
            <span class="primary-text-color secondary-text-weight">{{category.created}} </span>
            <hr>
            <p class="primary-text-color font-custom long-content post-content">{{category.content}}</p>
            <hr>
        </div>
            {% endfor %}
        {% else %}
            <p> There are currently no posts! Check back soon...  <p>
            <p><a href='http://www.jeromeronquillo.com'>Return to HOME</a></p>
        {% endif %}


    </div>
    <div class="up-arrow">
        &uArr;
    </div>


</body>
{% endblock %}