
{% extends 'base.html' %}
{% block content %}
<body>
<div class = 'pane'>
<div class = 'login'>
    <button class='login-button' onClick="javascript: window.location='/login'">Login</button>

</div>
{{error}}

 <div class='creator'>
</div>
<div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<h2 class='text-muted'>Categories</h2>

<a href="{{url_for('newCategory')}}" > <h4> Create a New Category</h4> </a>
<hr>
{% if category %}
    {% for category in categories %}
        <a href="{{url_for('showItems', category_id=category.id)}}"><h4>{{category.name}}</h4></a>
        <a href = "{{url_for('editCategory',category_id = category.id)}}">Edit</a>
        <a href = "{{url_for('deleteCategory',category_id = category.id)}}">Delete</a>

    {% endfor %}
{% else %}
   <p> There are currently no categories. <p>
{% endif %}

</div>
</body>
{% endblock %}