{% extends 'base.html' %}
{% block content %}
<div class = 'transparency_test_container'>
    
    <div class= "header-text-container">
        <img src="./static/images/coffee1.png" class='leftside_image bouncer1' />
        <span class="transparency_test_text">COFFEE</span>
        <img src="./static/images/coffee1.png" class='rightside_image bouncer2' />
    </div>
    
        
    <!-- <image class="transparency_test" src="/static/coffee_test.png" alt="transparency_test"> -->


</div>


{% endblock %}